:root{
	--mainColor: #17a2b8;
    --secondaryColor: #fcde67;
    --borderColor: #164D56;
    --mainText: #030e12; 
    --secondaryText: #030e12;
    --themeDotBorder: #FFF;
    --previewBg: #FFF;
    --previewShadow: #17a2b8;
    --buttonColor: #fcde67;

}