:root{
	--mainColor:#c2d2bd;
	--secondaryColor:#6db784;

	--borderColor:#161914;

	--mainText:#545454;
	--secondaryText:#666666;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow: #f9e45b;

	--buttonColor: $669966;


}