:root{
    --mainColor: #52ab98;
    --secondaryColor: #c8d8e4;
    --borderColor: #161914;
    --mainText: #545454;
    --secondaryText: #404040;
    --themeDotBorder: #FFF;
    --previewBg: #e1eedd;
    --previewShadow: #c2d2bd;
    --buttonColor: $669966;

}