:root{
    --mainColor: #ef9273;
    --secondaryColor: #fae5df;
    --borderColor: #1d1520;
    --mainText: #141850;
    --secondaryText: #303179;
    --themeDotBorder: #FFF;
    --previewBg: #f6e9d7;
    --previewShadow: #f5cac2;
    --buttonColor: #fae5df;
}